<!-- prettier-ignore -->
{% extends "sl/templates/sl_template.html" %}

{% block title %}Private Vehicle Logsheet - Report{% endblock title %}

{% block main %}
<div class="container p-3 mt-3 rounded-3 bg-light">
  <div class="row">
    <div class="col">
      <h1 class="mmt-h1">Private Vehicle Logsheet</h1>
      <hr />
      {% if filename %}
      <form action="{{ url_for('dl_report', filename=filename)}}">
        <button class="btn btn-success text-center" type="submit">
          Download Report
        </button>
      </form>
      <br />
      {% endif %}
      <form action="/pv_logsheet" method="POST" enctype="multipart/form-data">
        <label for="prog_note">Progress Notes:</label>
        <input type="file" class="form-control" name="prog_note" required />
        <br />
        <button type="submit" class="form-control btn-primary">
          Run Report
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock main %}

<!-- prettier-ignore -->
{% block scripts %}

{% endblock scripts %}
